main.aux
main.bcf
main.fdb_latexmk
main.fls
main.log
main.out
main.run.xml
main.synctex.gz
main.toc
LaTeXML.cache
main.latexml.log
notes.aux
notes.bcf
notes.code-workspace
notes.fdb_latexmk
notes.fls
notes.latexml.log
notes.log
notes.out
notes.run.xml
notes.synctex.gz
.DS_Store
notes.bbl
notes.toc
notes.blg
